
body {
	background-color: black;
}

.loginform{
	width:50%;
	height:50%;
    padding: 16px;
    position: absolute;
    margin-left:25%;
    margin-right:25%;
    margin-top:10%;
    background-color:lightgray;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.loginbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
  background-color:green;
}