body {
	background-color: black;
}

table#register {
	
    margin-left:auto; 
    margin-right:auto;
    border-width: 1px;
    width:40%
   
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.registerform {
	width:70%;
	height:80%;
    padding: 16px;
    position: absolute;
    margin-left:15%;
    margin-right:15%;
    background-color:lightgray;
}

.registerbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


.registerbtn:hover {
  opacity: 1;
  background-color:green;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

